.main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 10px;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    width: 90%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headd{
    text-align: center;
    font-weight: 150;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    height: 8vh;
    overflow: hidden;
}
a{
    text-decoration: none;
}

.title{
    height: 5vh;
    overflow: hidden;
}

.input{
    margin: auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchContentBox2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 10px;
    /* border: 3px solid black; */
    padding: 10px;
    min-height: 100px;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    width: 90%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: 3px solid lightblue;
}

.searchContentBox1{
    margin-top: 3vh;
    margin-bottom: 10vh;
}